body {
    background: #0e1117;
    color: white;
    font-family: Arial;
    text-align: center;
}

.top {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    background: #1c1f26;
    padding: 15px;
    border-radius: 10px;
}

.bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

canvas {
    background: #1c1f26;
    margin-top: 20px;
}

#loading {
    color: gold;
    font-size: 18px;
}